ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #b59eff;
  display: flex;
  justify-content: right;
  position: fixed;
  top: 0;
  width: 100%;
}

body{
    background-color: gray;
}
ul li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  color:rgb(138, 109, 151);
}